.App{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.settings {
    width: 300px;
    height: 250px;
    border: 5px darkblue solid;
    background-color: lightblue;
}

.inputSettings {
    text-align: center;
    width: 280px;
    height: 160px;
    border: 3px cornflowerblue solid;
    background-color: darkslategrey;
    margin: 10px 0 0 7px;
    padding-top: 10px;
}

.inputSettings input{
    width: 200px;
    text-align: center;
}

